
.sort-dropdown {
    position: relative;
    width: max-content;
    width: 100%;
    button {
      cursor: pointer;
      border: 1px solid rgba(var(--primary-text-color), 0.3);
      border-radius: 5px;
      padding: 10px 15px;
      background: rgba(var(--white-color), 1);
      white-space: nowrap;
  
      font-size: 14px;
      color: rgba(var(--primary-text-color), 1);
  
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      transition: all 0.1s ease;

      width: 100%;
      &:hover,
      &:focus {
        outline: 3px rgba(var(--primary-color), 0.1) solid;
        border: 1px solid rgba(var(--primary-color), 0.1);
      }
  
      &::after {
        margin-left: 20px;
        content: ">";
        font-weight: 600;
        transform: rotate(90deg);
        transition: all 0.3s ease;
      }
    }
  
    .dropped {
      &::after {
        transform: rotate(-90deg);
      }
    }
  
    .sort-options {
      position: absolute;
      top: 50px;
      min-width: max-content;
      padding: 10px 0 ;
      background: rgba(var(--white-color), 1);
  
      overflow: hidden;
      border-radius: 5px;
  
      border: 1px solid rgba(var(--secondary-color), 1);
      z-index: 3;
      width: 100%;
  
      li {
        text-align: left;
        a {
          font-size: 14px;
          color: rgba(var(--primary-text-color), 1);
          display: block;
          padding: 10px 20px;
          transition: all 0.3s ease;
  
          &:hover {
            background: rgba(var(--secondary-color), 0.5);
          }
        }
  
        .active {
          color: rgba(var(--primary-color), 1);
        }
      }
    }
    .hidden {
      display: none;
    }
  }