
.list {
    display: flex;
    position: relative;
    padding: 0 20px;
    overflow: hidden;
  
    max-width: 750px;
    .scroll-backward,
    .scroll-forward {
      button {
        cursor: pointer;
        position: absolute;
        padding: 5px 10px;
        border: 0;
        font-weight: 600;
        font-size: 16px;
        color: black;
        top: 10%;
        background: transparent;
      }
      z-index: 2;
    }
  
    .scroll-backward {
      button {
        left: 0;
      }
    }
    .scroll-forward {
      button {
        right: 0;
      }
    }
  
    .slide {
      overflow: hidden;
      scroll-behavior: smooth;
    }
  
    ul {
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 100%;
      }
  
      &::before {
        background: linear-gradient(to left, transparent, white);
        left: 0;
      }
      &::after {
        background: linear-gradient(to right, transparent,white);
        right: 0;
      }
  
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: nowrap;
      li {
        a {
          text-align: center;
          display: block;
          white-space: nowrap;
          color: rgba(var(--primary-text-color), 1);
          transition: all 0.2s ease;
  
          padding: 10px;
          margin: 0 10px;
          &:hover {
            color: rgba(var(--black-color), 1);
          }
        }
  
        .active {
          background: rgba(var(--secondary-color), 1);
          border-radius: 5px;
          color: rgba(var(--black-color), 1);
        }
      }
    }
  }