.app__filter {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding: 30px;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    .list {
      order: 1;
    }
  }
  
}

.btnFilter {
  cursor: pointer;

  border: 1px solid rgba(var(--primary-text-color), 0.2);
  border-radius: 5px;
  padding: 10px 15px;
  background: rgba(var(--white-color), 1);

  font-size: 14px;
  color: rgba(var(--primary-text-color), 1);

  display: flex;
  align-items: center;

  transition: all 0.1s ease;
  &:hover {
    border: 1px solid rgba(var(--primary-text-color), 0.35);
  }
  &:active {
    border: 1px solid rgba(var(--secondary-color), 1);
    background: rgba(var(--secondary-color), 1);
  }
}

.filter-inputs {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.input-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  button{
    width: 100%;
  }

  @media screen and (max-width:768px) {
    width: 100%;
  }
  
}
