@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
  margin: 0;

  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --white-color: 255, 255, 255;
  --black-color: 0, 0, 0;

  --primary-text-color: 110, 110, 110;
  --title-text-color: 13, 12, 34;

  --primary-color: 234, 76, 137;
  --secondary-color: 243, 243, 244;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
